<% include partials/header.ejs %>

    <h3>explaining dot dot dot ........ </h3>

    <ul class="nav navbar-nav">
          <li>
            <a href="home/abc">abc</a>
          </li>
        
    </ul>
<% include partials/footer.ejs %>